@mixin adaptiveMainText {
  @media (max-width: $phoneWide) {
    font-size: 2rem;
  }

  @media (min-width: $phoneWide + .2px) and (max-width: $tablesWide) {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
  }

  @media (min-width: $tablesWide + .2px) {
    font-size: 4rem;
  }
}