@import 'variables';

.header {
  position: fixed;
  top: 1.9rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.mainSec {
  background: $greyColor;
  height: 3rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  border-radius: 2rem;
}

.headerMainText {
  padding: 12px 24px;
  border-radius: 2em;
  color: black;
  text-decoration: none;

}