@keyframes diagonalA {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15px) translateY(15px);
  }
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;

  .bigText {
    text-align: center;
    padding: 0 30px;
    max-width: 620px;

    @media (max-width: 810px) {
      font-size: 2rem;
    }

    @media (min-width: 810.2px) and (max-width: 1200px) {
      font-size: 3rem;
      text-align: center;
    }

    @media (min-width: 1200.2px) {
      font-size: 4rem;
    }
  }
}

.listOfWelcomeText {
  display: flex;

  div {
    margin: 0 .3rem;
    background: $greyColor;
    padding: .5rem .8rem;
    border-radius: 1.3rem;
  }

  @media (max-width: 810px) {
    display: none;
  }
}

.homeMainContent {
  margin: 9.2rem 0.5rem;
  display: grid;
  column-gap: 1.3rem;
  row-gap: 2rem;

  .mainImg img,
  .mainImg video {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }

  .mainImg {
    border-radius: 3rem;
    cursor: pointer;
    position: relative;
    transition: opacity 2s;


    .whenHover {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      backdrop-filter: blur(14px);
      border-radius: 1rem;
      transition: opacity .4s;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      padding: 0.4rem 1.2rem;
      color: white;
      justify-content: space-between;
    }
  }

  .imgInsideSign {
    margin-top: 7px;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 1.5rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: .9rem;
      height: .9rem;
    }
  }

  @media (min-width: 810.2px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 810px) {
    grid-template-columns: 1fr;
  }
}

.mainImg:hover .whenHover {
  opacity: 1;
}

.homeMainContent:hover .imgInsideSign {
  animation: diagonalA .3s reverse;
}


